<div id="container-1">
  <div class="container below-header">
    <div class="page-content">
        <div class="hero">
          <%= render "layouts/header" %>
        	<div class="hero-inner">
        		<% if !current_user %>
        			<!-- <a href="" class="hero-logo"><i class="fa fa-life-ring fa-4"></i></a> -->
        			<div class="hero-copy">
        				<h1>Personalized Earthquake Preparation</h1>
        				<p>Preparing for "The Big One" can be scary, time-consuming, and expensive.</p>
        				<p>Ready.city helps you make a disaster preparation plan unique to your home, priorities and budget.</p>
        			</div>
        	    <button id="sign-up"><%= link_to "Sign Up", sign_up_path %></button>
        		<% else %>
              <div class="hero-copy">
                <h1>Let's pick up where you left off.</h1>
                <p> [progress indicator of assessment completion] </p>
                <p>
                  <%= sprintf("%.2f", @todo.all_preps)%> % of preparations complete
                  (<%= @todo.completed_all_preps.to_i %> of <%= @todo.total_all_preps.to_i %>)
                </p>
              </div>
        			<button> <%= link_to "Assessment", assessment_form_path %></button>
        			<button> <%= link_to "Todo", todo_path %></button>
        		<% end %>
        	</div>
        </div>
      </div>
  </div>
</div>
<div id="container-2">
  <div class="landing-content">
    <div id="landing-cards">
      <div class="card">
        CARD 1
      </div>
      <div class="card">
        CARD 2
      </div>
      <div class="card">
        CARD 3
      </div>
    </div>
  </div>
</div>
<div id="container-3">
  <div class="landing-content">
    <h1> CALL TO ACTION / EXPLANATORY TEXT HERE </h1>
  </div>
</div>
