<div class="container below-header">
  <h1> Todo view </h1>
  <div class="todo-dashboard">
    <h2>Todo overall progress:</h2>
      <p>
        <%= @todo.all_prep_progress.to_f.round(2) %> %
      </p>
  </div>
  <div class="todo-section">
    <h3>Home Preparations:</h3>
      <h4>Home Preparation Progress:</h4>
        <p>
          <%= @todo.home_prep_progress.to_f.round(2) %> % complete
          (<%= @todo.completed_home_preps.to_i %> of <%= @todo.total_home_preps.to_i %>)
        </p>
      <h4>Home Preparation List:</h4>
      <ul class="todo-section-list">
        <% current_user.home_preparations.each do |p| %>
          <li><%= p.question.contents %></li>
        <% end %>
      </ul>
  </div>
  <h3>Gear Preparations:</h3>
  <h3>Dependent Preparations:</h3>
  <h3>Contact Preparations:</h3>
</div>
