<div class="container below-header">
  <div class="page-content" id="plan-container">
    <h1> <%= current_user.username %>'s Plan </h1>
    <div class="plan-block" id="top-plan-block">
      <h1> Here's what to do if an earthquake hits. </h1>
    </div>
    <div class="plan-block">
      <div class="plan-content">
        <h2>Right Away:</h2>
        <ul class="reaction-list">
          <h3> If you are indoors: </h3>
          <li>
            <strong>Drop, Cover and Hold On:</strong> Take cover under a sturdy desk, table, or bench, or against an inside wall, and hold on. If there is no desk or table near you, cover your face and head with your arms and crouch in an inside corner of the building.
          </li>
          <li>
            <strong>Safe spots:</strong> The best places to be are under heavy
            pieces of furniture, such as a desk or sturdy table and against
            inside walls.
          </li>
          <li>
            <strong>Danger spots:</strong> Be aware of the dangers associated with
            breaking window glass, falling objects, falling mirrors,
            falling chimneys, and toppling of tall, unsecured pieces of
            furniture.
          </li>
          <li>
            Stay inside until the shaking stops and it is safe to go outside. Most injuries during earthquakes occur when people are hit by falling objects while entering or leaving buildings.
          </li>
        </ul>
        <ul class="reaction-list">
          <h3>If you are outdoors: </h3>
          <li>Stay there.</li>
          <li>Move away from buildings, trees, streetlights, and utility wires.</li>
        </ul>
      </div>
    </div>
    <div class="plan-block">
      <div class="plan-content">
        <h2>Check on Dependents</h2>
          <% if current_user.dependents.count == 0 %>
            You have not added any dependents yet.
          <% else %>
            <ul>
              <li class="list-sec-head">Humans:</li>
              <% current_user.all_humans.each do |h| %>
                  <li><%= h.name %></li>
              <% end %>
              <li class="list-sec-head">Pets:</li>
              <% current_user.all_pets.each do |p| %>
                  <li><%= p.name %></li>
              <% end %>
            </ul>
          <% end %>
      </div>
    </div>
    <div class="plan-block">
      <div class="plan-content">
        <h2>Grab your gear:</h2>
        <ul>
          <% @ready_gear_items.each do |g| %>
            <li> <%= g.question.keyword %> </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="plan-block">
      <div class="plan-content">
        <h2>Head to a safe Location</h2>
          <% if current_user.locations.count == 0 %>
            You have not set up any locations yet. Go to the <%= link_to "assessment", assessment_form_path %> to add one!
          <% else %>
            <% current_user.locations.each do |l| %>
              <%= l.name %>
            <% end %>
          <% end %>
      </div>
    </div>
    <div class="plan-block">
      <div class="plan-content">
        <h2>Check in with your contacts</h2>
          <% if current_user.contacts.count == 0 %>
            You have not set up any contacts yet. Go to the <%= link_to "assessment", assessment_form_path %> to add one!
          <% else %>
            <table>
              <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
              </tr>
              <% current_user.contacts.each do |c| %>
                <tr>
                  <td><%= c.name %></td>
                  <td><%= c.phone %></td>
                  <td><%= c.email %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
      </div>
    </div>
  </div>
</div>
