<div class="container below-header">
  <h1> Emergency Preparedness Assessment </h1>
  <p> This assessment will collect information about your home, dependents
    and contacts. It will generate a custom to-do list of steps you can take
    to be more prepared in the event of an earthquake.
  </p>
  <fieldset id="home-form">
    <form action="/assessment/<%= @current_user.id%>/update_home" method="post">

      <h2>Home</h2>
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>

      <p>
        <label for="text_field">Street Address</label>
        <input type="text" class="text_field" name="street_address">
      </p>
      <p>
        <label for="text_field">City</label>
        <input type="text" class="text_field" name="city">
      </p>
      <p>
        <label for="text_field">State</label>
        <input type="text" class="text_field" name="state">
      </p>
      <p>
        <label for="text_field">Zip</label>
        <input type="text" class="text_field" name="zip">
      </p>

      <p>
        <label for="home_type">House or Apartment?</label>
        <label>
          <input type="radio" class="radio" name="home_type" value="house">
          House
        </label>
      </p>
      <p>
        <label>
          <input type="radio" class="radio" name="home_type" value="apartment">
          Apartment
        </label>
      </p>

      <p>
        <label for="floor_dropdown">Number of Floors (including basement):</label>
        <select name="floor_count">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </p>

      <p>
        <label for="year_built">Year Built</label>
        <input type="text" class="text_field" name="year_built">
      </p>

      <input type="submit" value="Save Home">
    </form>
  </fieldset>

  <fieldset id="dependent-form">
    <form action="/assessment/<%= @current_user.id%>/update_dependents" method="post">
      <h2>Dependents</h2>
      <p>
        Add a record for each member of your household for whom you will be
        responsible during an emergency (including spouse/partner). Pets are
        also considered dependents and can be added with the 'Add Pet' button.
      </p>
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>

      <div class="dependent-block">
        <p>
          <label for="text_field">Name</label>
          <input type="text" class="text_field" name="dep_name">
        </p>
        <p>
          <label for="text_field">Age</label>
          <input type="text" class="text_field" name="dep_age">
        </p>
      </div>

      <button class="add-dep-btn">Add Dependent</button>
      <button class="add-pet-btn">Add Pet</button>
      <br>
      <input type="submit" value="Save Dependents">
    </form>
  </fieldset>
  
  <fieldset id="contact-form">
    <form action="/assessment/<%= @current_user.id%>/update_contacts" method="post">
      <h2>Contacts</h2>
      <p> Ask a friend or relative who lives outside the state and explain to
        them that after a disaster they will be your means of communicating with
        other family members, both in and out of state. Make sure they understand
        it will be their responsibility to be available to take calls immediately
        following a disater in your area
      </p>
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>

      <div class="contact-block">
        <p>
          <label for="text_field">Name</label>
          <input type="text" class="text_field" name="con_name">
        </p>
        <p>
          <label for="text_field">Phone</label>
          <input type="text" class="text_field" name="con_phone">
        </p>
        <p>
          <label for="text_field">email</label>
          <input type="text" class="text_field" name="con_email">
        </p>
        <p>
          <label for="text_field">location</label>
          <input type="text" class="text_field" name="con_loc">
        </p>
      </div>

      <button class="add-dep-btn">Add Contact</button>
      <br>
      <input type="submit" value="Save Contacts">
    </form>
  </fieldset>
</div>
