<div class="<%= @landing ? 'landing-header header-wrap' : 'header-wrap' %>">
  <header class="navigation navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <%= link_to root_path do %>
      <div class="brand">
        <i class="fa fa-life-ring fa-4 logo-icon"></i>
        <span class="brand-name">Ready.city</span>
      </div>
    <% end %>
    <ul id="js-navigation-menu" class="navigation-menu show">
      <% if current_user %>
        <li class="nav-link"> Hello, <strong><%= current_user.username%></strong></li>
        <li class="nav-link"><%= link_to "Assessment", assessment_form_path %></li>
        <li class="nav-link"><%= link_to "To-Do List", todo_path %></li>
        <li class="nav-link"><%= link_to "Plan", plan_path %></li>
        <li class="nav-link"><%= link_to "Sign Out", sign_out_path %></li>
      <% else %>
        <li class="nav-link"><%= link_to "Sign Up", sign_up_path %></li>
        <li class="nav-link"><%= render "refills/sign_in_popup" %></li>
      <% end %>
    </ul>
  </header>
</div>
