<fieldset id="home-field">
  <h2>Home</h2>
  <form action="/assessment/update_home" method="post" class="asmt-form" id="home-form">
  <p class="form-descr">
    Enter details about your home.
  </p>

    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>

    <p>
      <label for="text_field">Street Address</label>
      <input type="text" class="text_field" name="street_address" value="<%= @home.street_address %>">
    </p>
    <p>
      <label for="text_field">City</label>
      <input type="text" class="text_field" name="city" value="<%= @home.city %>">
    </p>
    <p>
      <label for="text_field">State</label>
      <input type="text" class="text_field" name="state" value="<%= @home.state %>">
    </p>
    <p>
      <label for="text_field">Zip</label>
      <input type="text" class="text_field" name="zip" value="<%= @home.zip %>">
    </p>

    <p>
      <label for="home_type">House or Apartment?</label>
      <label>
        <input type="radio" class="radio" name="home_type" value="house">
        House
      </label>

    </p>
    <p>
      <label>
        <input type="radio" class="radio" name="home_type" value="apartment">
        Apartment
      </label>
    </p>

    <p>
      <label for="floor_dropdown">Number of Floors (including basement):</label>
      <select name="floor_count" value="<%= @home.structure["floors"] %>">
        <option value="1" selected="<%='selected' if @home.structure["floors"] == 1 %>">1</option>
        <option value="2" selected="<%='selected' if @home.structure["floors"] == 2 %>">2</option>
        <option value="3" selected="<%='selected' if @home.structure["floors"] == 3 %>">3</option>
        <option value="4" selected="<%='selected' if @home.structure["floors"] == 4 %>">4</option>
      </select>
    </p>

    <p>
      <label for="year_built">Year Built</label>
      <input type="text" class="text_field" name="year_built" value="<%= @home.structure["year_built"] %>">
    </p>

    <input type="submit" value="Save Home">
    <div class="success-message">Home Details Updated</div>
  </form>
</fieldset>
