<!DOCTYPE html>
<html>
  <head>
    <title>Earthquake Prep</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body class="<%= @landing ? 'landing' : '' %>">
    <div class="header-wrap">
      <header>
        <%= link_to root_path do %>
          <div id="logo"><i class="fa fa-life-ring fa-4"></i></div>
        <% end %>
        <ul>
          <% if current_user %>
            <li> Hello, <strong><%= current_user.username %></strong></li>
            <li><%= link_to "Assessment", assessment_form_path %></li>
            <li><%= link_to "To-Do List", todo_path %></li>
            <li><%= link_to "Plan", plan_path %></li>
            <li><%= link_to "Sign Out", sign_out_path %></li>
          <% end %>
        </ul>
      </header>
    </div>
    <div class="main">
      <% if flash[:notice] %>
        <div class="error-messages">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
