<!DOCTYPE html>
<html>
  <head>
    <title>Earthquake Prep</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="header-wrap">
      <header>
        <%= link_to root_path do %>
          <div id="logo"></div>
        <% end %>
        <ul>
          <li>Link1</li>
          <li>Link2</li>
          <li>Link3</li>
        </ul>
      </header>
    </div>
    <div class="main">
      <%= yield %>
    </div>

  </body>
</html>
